# Rename this file to .env before setting environment variables

# Port for hosting
# Change in server.js and assitant.html as well
PORT=3000

# Qlik Tenant host
TENANT_URI=<YOUR_TENANT_URI>

# Backend Client with M2M and trusted consent enabled
# You may also change the frontend client directly in the assistant.html file or add client details here
CLIENT_ID=<YOUR_CLIENT_ID>
CLIENT_SECRET=<YOUR_CLIENT_SECRET>

# Qlik Agentic Assitant ID
ASSISTANT_ID=<YOUR_ASSISTANT_ID>
